

<div class="company-container">
    <div class="row expanded">
      <div class="small-12 medium-3 columns">
        <a [routerLink]="['/dashboard/create']" class="btns">Add Employee</a>
      </div>
      <form (submit)="searchEmployee()"class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="name" name="name" class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>



<div *ngFor="let company of companies">
  <div class="company-container">
    <div class="row expanded">
      <div class="small-12 medium-5 medium-offset-1 columns">
        <a routerLink="companies/{{ company._id }}">{{ company.name}}</a>
      </div>
      <div class="small-12 medium-6 columns">
        <p>{{ company.employee | slice: 0:50 }}</p>
      </div>
    </div>
  </div>
</div>
